body{
    margin: 0;
}
h1{
    font-size: 50px;
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    width: 90%;
    margin: auto;
}
.half-width{
    width: 50%;
    padding: 10px;
}
.half-width p{
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 30px;
}
.default-btn{
    background-color: #FF5959;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
}
.half-width h1 span{
    color: coral;
}
.half-width img{
    max-width: 100%;
    height: 500px;
}
.left-margin{
    margin-left: 100px;
}
.box{
    display: flex;
    align-items: center;
}
.box h1{
    margin-left: 7px;
}
.border-style{
    border-left: 5px solid #FF5959;
    border-image-slice: 1;
    height: 90px;
    
}
.mission{
    margin-bottom: 60px;
}
.mission h1{
    text-align: center;
}
.mission h1 span{
    color: coral;
}
.card{
    border-radius: 10px;
    padding: 20px;
}
.color-bg1{
    background-color: bisque;
}
.color-bg2{
    background-color: rgb(173, 231, 150);
    margin-left: 20px;
    margin-right: 20px;
}
.color-bg3{
    background-color: rgb(155, 252, 215);
}
.logo img{
    width: 100px;
    height: 100px;
}
.developer-section{
    background-image: url("images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 250px;
}
.developer-section-two{
    background-image: url("images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 250px;
}
.form-control{
    padding: 10px 20px;
    width: 100%;
}
.text-center{
    text-align: center;
}
.form-group{
    margin-bottom: 20px;
}
.testimonial-section h1 span{
    color: coral;
}
footer{
    background-color: black;
    color: white;
    padding: 20px;
}
footer h1 span{
    color: #FF5959!important;
}